/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,A3 hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing:border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.container {
	border:3px solid gray;
	height:100%;
	width:100%;


}
nav{
	text-align: center;
}
nav a{
margin-top: 2%;
margin-left:4%;
margin-right:4%;
display:inline;
float:left;
}
.logo{
	border:5px solid black;
	width:20%;
	display:inline;
	float: right;
	margin-top:2%;
	
}
.top{
  height:100%;
  width:100%;
   border:3px solid red;
margin: 0 auto;


}

h1{
	height:80%;
	width:40%;
	font-size: 120px;
	display:inline-block;
border:2px solid purple;
 text-align:center;
 float:left;

}
.codepic{
	border: 2px solid blue;
	width:40%;
	display:inline-block;
	height: 80%;
	float:right;
	

}
button{
	background-color:white;
	border:1px solid grey;
	width:15%;
	height:15%;
	display:inline;
    
}
#middle{
	border: 2px solid green;
 height:50%;
 width:100%;
}
.features{
	border: 2px solid pink;
	display:inline-block;
	float:left;
	height:50px;
	width:100px;
}
.about{
	border: 2px solid brown;
	display:inline-block;
	float:right;
	width:100px;
	height:100px;

}
.middle-img{
	border: 3px solid black;
}
#bottom{
	border:3px solid orange;
}
.services{
	border:2px solid gray;
}

.product{
	border: 2px solid turquoise;
}

.vision{
	border: 2px solid peru;

}
.contact{
	border:2px solid royalblue;
}


